.modal {
    width: 40rem;
    height: 25rem;
    background-color: var(--second-color);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 1rem 0.5rem #000000;
    padding: 1rem;
    z-index: 1;
    text-align: center;
}

.modal-grid{
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: 62.5% 37.5%;
}

.country-without-bordering-countries{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
}

.border-countries{
    grid-column: 1/3;
    grid-row: 2/3;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.border-country-container{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.border-country-flag-desc{
    width: 6.25rem;
    height: 3.125rem;
}

.tooltip{
    position: absolute;
    background-color: #ffd15b;
    padding: 0.125rem;
    border-radius: 10px;
    opacity: 0;
    padding: .125rem .375rem;
    top: 3.5rem;
    transition: opacity 0.125s ease-out;
}

.border-country-flag-desc:hover + p{
    opacity: 1;
    z-index: 100;
}

.border-info{
    position: absolute;
    top: 13.5rem;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-active {
    transform: translate(-50%, -50%) scale(1);
}

.country-description-modal-flag{
    width: 20rem;
    height: 12rem;
}

.country-name{
    text-align: left;
}

.country-details{
    text-align: left;
}

.correct-answer{
    background-color: var(--accept);
    z-index: 5;
}

.wrong-answer{
    background-color: var(--decline);
    z-index: 5;
}

.modal-quiz-header{
    grid-area: header;
}

.modal-quiz-first{
    grid-area: first;
    padding: 1.5rem 0.625rem 0 0;
}

.modal-quiz-second{
    grid-area: second;
    padding: 1.5rem 0.625rem 0 0;
}

.modal-quiz-footer{
    grid-area: footer;
}

.modal-population-form{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 15% 70% 15%;
    grid-template-areas:
    "header header"
    "first second"
    "first second"
    "footer footer";
}

.modal-img{
    height: 10rem;
    width: 17.5rem;
}

.radio-toolbar input[type="radio"] {
    display: none;
}

.radio-toolbar{
    display: inline-block;
    font-family: Arial;
    font-size: 16px;
    cursor: pointer;
    height: 100%;
}

.radio-toolbar label{
    padding: 2rem 0;
    cursor: pointer;
    transition: background-color 0.25s ease-in-out;
}

.radio-toolbar input[type="radio"]:checked + label{
    background-color: rgba(255, 143, 42, 0.76);
}

.blurred-background .main-section,
.blurred-background .sidebar{
    filter:blur(2px);
}